@media(max-width:450px){
   
     header{
        height: 50px;
        padding: 5px 15px;
        position: fixed;
        top: 0;
    }
    
    header p{
        font-size: 15px;
    
    }
    
    header nav{
        gap: 8px;
    
    }
    
    header nav a{
        font-size: 13px;
      
    }
    
    header div a{
        font-size: 15px;
        padding: 2px 5px;  
    }

    main{
        margin-top: 50px;
      
    }
    
    
    .air{
        height: calc(100vh - 50px);
        padding: 5px 15px;
        display: flex;
        flex-direction: column;
    }
    
    .air p{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    
    }
 
    .air article{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .air article div{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
           
    .category{
       min-height: calc(100vh - 50px);
        padding: 10px 5px;
    }
    
    .category h1{
        font-size: 35px;
        margin-top: 35px;
        
    }
    
    .category article{
        width: 100%;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    
    .category article div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    
    .category article span{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    
    .category article div img{
        padding: 25px;
        border: 2px solid rgb(163, 160, 160);
    }
    
    .category article span img{
        padding: 25px;
        border: 2px solid rgb(163, 160, 160);
    }
    
    .order{
        width: 100%;
        min-height: calc(100vh - 50px);
        margin-top: 0;
        padding: 15px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        
    }
    
    .order h2{
        font-size: 35px;
    }
    
    .order article{
       height: fit-content;
        margin: 0;
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    
    .order article p{
        width: 100%;
        padding: 5px 15px;
    }

    
    
    
    .contact{
        height: fit-content;
        padding: 50px 50px;
    }
    
    .contact h2{
        font-size: 35px;
    }
    
    .contact article{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .contact article div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .contact article div p{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .contact article div p b{
        font-size: 20px;
        color: darkorange;
    }

    
    footer{
        height: 10px;
    }
    
    footer p{
        font-size: 10px;
    }
    
    
}